<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ten.txzh.dao.NoticeMapper">
	<select id="getGroupNotice" parameterType="int" resultType="com.ten.txzh.pojo.GroupNotice">
		select * from groupNotice where userid = #{_parameter};
	</select>

	<insert id="JoinMessage" parameterType="com.ten.txzh.pojo.GroupNotice"  >
		INSERT INTO groupnotice (userid,noticeid,type,operation,source, target,result, time) values (#{userid},#{noticeid},#{type},#{operation},#{source}, #{target},#{result}, #{time});	
	</insert>
	
	<update id="MessageHandle" parameterType="com.ten.txzh.pojo.GroupNotice">
		update groupnotice set operation = 0, result = #{result}, time = #{time}
			where noticeid = #{noticeid};
	</update>
	
	<insert id="kickMessage" parameterType="com.ten.txzh.pojo.GroupNotice" >
 			INSERT INTO groupnotice (userid,noticeid,type,operation,source, target,result, time) values (#{userid},#{noticeid},#{type},#{operation},#{source}, #{target},#{result}, #{time});	
 	</insert>
</mapper>
