<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ten.txzh.dao.RegisterMapper">
	<select id="RegisterCheck" parameterType="com.ten.txzh.pojo.User" resultType="com.ten.txzh.pojo.User" >
		SELECT * from USER WHERE email = #{email};
	</select>
	
	<insert id="doReg" parameterType="com.ten.txzh.pojo.User"  >
		INSERT INTO USER (username,email,password,image) values (#{username},#{email},#{password},#{image});	
	</insert>
</mapper>
