<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ten.txzh.dao.UserMapper">
	<select id="getUserInfo" parameterType="int" resultType="com.ten.txzh.pojo.User">
		select userid,username,email,address,image from user where userid = #{_parameter};
	</select>
	
	<select id="getUserNameByUserid" parameterType="int" resultType="java.lang.String">
		select username from user where userid = #{_parameter}
	</select>
	
	<update id="alterUserInfo" parameterType="com.ten.txzh.pojo.User">
		update user 
		set username = #{username}, address = #{address}, image = #{image} 
		where userid = #{userid}
	</update>
	
	<update id="changePassword" parameterType="com.ten.txzh.pojo.User">
		update user 
		set password = #{password} 
		where userid = #{userid}
	</update>
	
	<select id="getUseridByEmail" parameterType="java.lang.String" resultType="int">
		select userid from user where email = #{_parameter}
	</select>
</mapper>
